@tailwind base;
@tailwind components;
@tailwind utilities;

.Done{
    color: green;
}

.Todo{
    color: red;
}

.OnGoing{
    color: yellow;
}

.task{
    background-color: lightgrey;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
}

.taskProps {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    grid-column: 1 / 2;
}

.newTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    color: white;
    border-radius: 0.3rem;
    padding-left: 6rem;

}

.taskButtons {
    display: flex;
    gap: 0.5rem;
    grid-column: 3 / 4;
}

.taskList {
    width: 80%;
    margin-top: 0.2rem; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

.status {
    grid-column: 2 / 3;
}
  
.grid-cols-task {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    width: 40%;
}
  